.btn-primary {
	border: 0;
    background-image: linear-gradient($lightorange, $darkorange);
	background-color: $darkorange;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
	color: $white;
    display: inline-block;
	text-transform: uppercase;
    padding: 10px 65px;
    text-align: center;
    text-decoration: none;
	margin: 0 10px;

	&:hover,
	&:focus,
	&:active {
		background-image: linear-gradient($darkorange, $lightorange);
		background-color: $lightorange;
		color: $white;
	}
}


@media (max-width: 992px) {
	.btn-primary {
		padding: 10px 35px;
	}
}
