// Footer SCSS

#footer {
	display: flex;
	background-image: linear-gradient($lightorange, $darkorange);
	ul {
		flex: 70%;
		display: inline-flex;
		padding: 0 20px;

		li {
			padding: 10px;
			a {
				color: $white;

				&:hover,
				&:focus,
				&:active {
					color: $black;
				}
			}
		}
	}
	p {
		flex: 30%;
		font-size: 14px;
		color: $darkorange;
		padding: 30px 20px;
		text-align: right;
	}
}

@media (max-width: 768px) {
	#footer {
		flex-direction: column;
		ul {
			flex-wrap: wrap;
		}
		p {
			text-align: center;
		}
	}
}