//Main SCSS

.main-body {
	padding: $mp-0 $mp-2;
	display: flex;
	box-shadow: 2px 2px 20px $lightgray;

	.aside {
		flex: 30%;
	}

	.article {
		flex: 70%;
	}
}

@media (max-width: 768px) {
	.main-body {
		flex-direction: column;
		padding: 0 15px;

		.article,
		.aside {
			margin: 0;
		}
	}
}
