body {
	font: {
	  family: Arial, sans-serif;
	  size: 18px;
	  weight: 400;
	}

	margin: 0 auto;
	line-height: 22px;
}

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

p {
	padding-bottom: 15px;
	margin: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: $black;

	&:hover,
	&:focus,
	&:active {
		color: $darkorange;
	}
}

h1 {
	font-size: 28px;
	line-height: 32px;
	padding: 15px 0;
	margin: 0;
}

h2 {
	font-size: 24px;
	line-height: 38px;
	padding: 15px 0;
	margin: 0;
}

h3 {
	font-size: 20px;
	line-height: 24px;
	padding: 15px 0;
	font-weight: 500;
	margin: 0;
}

h4 {
	font-size: 16px;
	line-height: 20px;
	padding: 5px 0;
	font-weight: 400;
	margin: 0;
}

h5 {
	font-size: 14px;
	line-height: 18px;
	padding: 5px 0;
	font-weight: 400;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $darkorange;
	margin: 0;
}

::placeholder {
	color: $gray;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.container-fluid {
	max-width: 100%;
}